@use '../variables' as *;

@mixin base-title($color, $font-size, $margin: initial, $font-weight: normal) {
  color: $color;
  font-size: $font-size;
  margin: $margin;
  font-weight: $font-weight;
}

@mixin base-button($font-size, $color, $border-radius, $background-color) {
  cursor: pointer;
  border: none;
  font-size: $font-size;
  color: $color;
  border-radius: $border-radius;
  background: $background-color;
  transition: ease 200ms;

  &:active {
    transform: scale(0.98);
  };

  &:hover {
    opacity: 0.85;
  };
}

@mixin screen-md() {
  @media screen and (min-width: $breakpoint--md) {
    @content;
  }
}

@mixin screen-lg() {
  @media screen and (min-width: $breakpoint--lg) {
    @content;
  }
}

@mixin screen-xl() {
  @media screen and (min-width: $breakpoint--xl) {
    @content;
  }
}

@mixin screen-xxl() {
  @media screen and (min-width: $breakpoint--xxl) {
    @content;
  }
}

@mixin flex-column-alignment {
  display: flex;
  flex-direction: column;
}

@mixin webkit__scrollbar {
  /* Works on Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    background-color: $color__scrollbar-background;
  };

  &::-webkit-scrollbar-thumb {
    background-color: $color__scrollbar-thumb;
  };
}

@mixin mozilla__scrollbar {
  /* Works on Firefox */
  scrollbar-color: $color__scrollbar-thumb $color__scrollbar-background;
}