@use '../variables' as *;
@use '../tools' as *;

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: $color__background--gradient;
}

* {
  font-family: 'Assistant', sans-serif;

  @include mozilla__scrollbar;
  @include webkit__scrollbar;
}

//TODO: THIS
textarea:focus, input:focus{
  outline: none;
}

main {
  @include flex-column-alignment;
  margin: 0;
  padding: 20px;

  @include screen-md(){
    padding: 80px;
  };

  @include screen-lg {
    padding: 40px 250px;
    align-items: center;
  };

  @include screen-xxl {
    padding: 80px 350px;
  };
}

.title {
  font-family: Library3;
  @include base-title($color__text--primary, $font__size--primary, 0 0 20px 0);
}

.greetings {
  @include base-title($color__text--primary, $font__size--secondary, initial, 700);
}

.date {
  @include base-title($color__text--secondary, $font__size--secondary, 0 0 20px 0, 700);
}

.modal__container {
  width: calc(100% - 40px);
  border: none;
  padding: 30px;
  box-sizing: border-box;
  border-radius: $border__item--primary;
  background-color: $color__modal--primary;

  @include screen-md {
    width: calc(100% - 160px);
  };

  @include screen-lg {
    width: calc(100% - 500px);
  };

  @include screen-xxl {
    width: calc(100% - 700px);
  };
}

.modal__title {
  @include base-title($color__text--primary, $font__size--tertiary, 0, 700);
}

.modal__form {
  @include flex-column-alignment;
  gap: 20px;
}

.modal__section {
  @include base-title($color__text--primary, $font__size--quaternary, 0, 700);
}

.modal__categories {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.modal__wrapper-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author__container {
  @include flex-column-alignment;
  align-items: center;
  gap: 10px;
}

.author__image {
  height: 10vh;
}

.author__text {
  @include base-title($color__text--tertiary, $font__size--tertiary, 0, 600);
}