$color-background-secondary: rgba(30,31,37,1);
$color-background-gradient: linear-gradient(180deg, rgba(37,32,65,1) 0%, rgba(30,31,37,1) 100%);

$color-text-primary: #f6f6f7;
$color-text-secondary: #7e41ff;
$color-text-tertiary: #787b8d;
$color-text-quaternary: rgba(30,31,37,1);

$color__button--primary: #B331F8;
$color__button--secondary: #752AD1;
$color__button--tertiary: #65FFA7;
$color__button--quaternary: #FD6C6D;

$color__modal--primary: #20212c;

$color__card--primary: #2A2E3D;

$color__icon--primary: #f6f6f7;

$color__chip--selected: #f6f6f7;

$colors__chips--1: #FD6C6D, #F19731, #6457FF, #234EBC, #2BC8D9, #8667C8;

$color__input--primary: #2A2E3D;

