@use '../variables' as *;
@use '../tools/' as *;

.card-1__container {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: min-content 1fr;
  column-gap: 10px;
  margin-bottom: 20px;
}

.card-1__checkbox {
  cursor: pointer;
}

.card-1__content {
  background-color: $color__card--primary;
  border-radius: $border__item--primary;
  padding: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: min-content 1fr;
  grid-template-areas: 
    'icon title'
    'icon description'
    'date date'
  ;
}

.card-1__icon {
  grid-area: icon;
  aspect-ratio: 1/1;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border__item--primary;
  font-size: $font__size--quaternary;
  color: $color__icon--primary;
}

@for $i from 1 through length($colors__chips--1) {
  .card-1__icon--color-#{$i} {
    background-color: nth($colors__chips--1, $i);
  }
}

.card-1__title {
  grid-area: title;
  @include base-title($color__text--primary, $font__size--tertiary, 0, 700);
}

.card-1__title--strikethrough {
  text-decoration: line-through;
}

.card-1__description {
  grid-area: description;
  @include base-title($color__text--tertiary, $font__size--quaternary, 0, 600);
}

.card-1__description--strikethrough {
  text-decoration: line-through;
}

.card-1__date {
  grid-area: date;
  text-align: end;
  @include base-title($color__text--primary, $font__size--quaternary, 0, 600);
}
