@use '../variables' as *;
@use '../tools' as *;

.chip-1 {
  padding: 5px 15px;
  cursor: pointer;
  border-radius: $border__item--primary;
  border: transparent solid 2px;
  transition: ease 200ms;
  @include base-title($color__text--primary, $font__size--quaternary, 0, 600);
}

.chip-1--selected {
  border: $color__chip--selected solid 2px;
}

@for $i from 1 through length($colors__chips--1) {
  .chip-1--color-#{$i} {
    background-color: nth($colors__chips--1, $i);
  };
}